@import "settings";
@import "foundation";

button, .button {
  text-transform: uppercase;
  // background: none;
  // border: 2px solid $primary-color;
}

#home-hero {
  background: black url(/images/home-hero-desktop.jpg) center center fixed no-repeat;
  background-size: cover;
  min-height: 100%;
  padding-top: 0;
  text-align: left;
  * {
    color: white;
  }

  .info-row {
    @include grid-row();
    padding: 1em 1em 0 1em;

    .info {
      @include grid-column(12);

      .brand {
        display: block;
        background: url(/images/cine-logomark.png) no-repeat;
        background-size: contain;
        text-indent: -9999em;
        margin-bottom: 1em;
      }


      .pitch {
        font-size: $h3-font-size;
        line-height: $header-line-height;
        font-family: $distinct-font-family;
        font-weight: bold;
        margin-bottom: 1em;
      }

      .actions {
        margin-top: 1em;
      }
    }
  }

  .scrollhint {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
  }
}

@media #{$medium-up} {
  #home-hero {
    background: black url(/images/home-hero-tablet.jpg) center center fixed no-repeat;
    .info-row {
      padding-top: 5em;
        .info {
          @include grid-column(8);

        .pitch {
          font-size: $h1-font-size;
        }
      }
    }
  }
}

@media #{$large-up} {
  #home-hero {
    background: black url(/images/home-hero-tablet.jpg) center center fixed no-repeat;
  }
}