.peer-hero{
  position: relative;
  color: white;
  background: #128c87;

  .brand-wrapper{
    text-align: center;
    .brand{
      background-position: center center;
    }
  }

  p {
    line-height: 1.2;
  }
  h3, h4 {
    font-family: $distinct-font-family;
    color: white;
  }
  h4 {
    text-transform: uppercase;
  }
  .hero-content{
    padding-bottom: 35px;
  }
  .brand{
    margin: 0;
    font-size: 2.75rem;
  }
}
@media #{$medium-up} {
  .peer-hero{
    .brand-wrapper{
      text-align: left;
      .brand{
        background-position: left center;
      }
    }
  }
}

@import "peer_hero/cloud";
@import "peer_hero/double_arrow";
@import "peer_hero/players";
