*.DS_Store

heroku-addon-manifest.json
engineyard-addon-manifest.json

cine.sublime-workspace
compiled/*

ignored/

newrelic_agent.log
node_modules
npm-debug.log

public/compiled/*

tmp/

.floo
.flooignore
