#libraries {
  padding-top: 1.5em;
  position: relative;
  background-color: white;

  .icon-list {
    @include block-grid(6);
  }
}



@media #{$medium-up} {

  #libraries {
    ul {
      li {
        img {
          width: 64px;
          height: 64px;
        }
      }
    }

    .icon-list {
      @include block-grid(7);
    }
  }
}
