.static-document{
  header{
    position: static !important;
  }
  .resource-panel {
    @include panel(
      $bg:white,
      $padding:1em,
      $adjust:true
    );
  }

  pre {
    code {
      @include panel(
        $padding:1em,
        $adjust:true
      );
    }
  }

  h5 {
    font-size: 0.9em;
    text-transform: uppercase;
  }

  ul {
    dl {
      margin-left: 4em;
      dt {
        @include grid-column(2);
      }
      dd {
        @include grid-column(10);
      }
    }
  }
}
