.dashboard-show{
  dl.inline{
    dt {
      float: left;
      margin-right: 5px;
    }
    dd {
      margin-bottom: 0.35rem;
    }
  }
  .panel-heading{
    h3{
      display: inline-block;
    }
  }
  .panels-wrapper{
    overflow-y: scroll;
  }

  .tabs dd>a, .tabs .tab-title>a{
    padding: 1rem 1rem;
  }

  table.clickable-row{
    width: 100%;
    tbody{
      tr{
        cursor: pointer;
      }
    }
    tr.selected{
      background-color: $table-border-color;
    }
    td.no-move{
      padding: 14px 10px;
    }
    td.place-top{
      vertical-align: top;
    }
  }
}
