.homepage-logged-out {
  .wide-container {
    padding: 0 !important;
  }

  &.hide-logo {
    header{
      z-index: 5;
      background-color: $scheme-color-north;
    }
    .top-bar, .top-bar.expanded .title-area, .top-bar-section ul, .top-links li a, .top-bar-section li:not(.outlined) a{
      background-color: $scheme-color-north;
      transition: background-color 500ms ease;
    }
    .top-links li a:hover, .top-links .dropdown li a{
      background-color: rgba(51, 51, 51, 0.5);
      transition: none;
    }
  }

  &.show-logo {
    .top-bar, .top-bar.expanded .title-area, .top-bar-section ul, .top-links li a, .top-bar-section li:not(.outlined) a{
      transition: background-color 500ms ease;
    }
  }


  .home-hero {
    @include grid-column(12);
    background-color: $scheme-color-north;
    color: white;

    .brand-wrapper {
      @include grid-row();
      .brand {
        margin: 0;
        font-size: 2.75rem;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      color: white;
    }
  }

  .product-list {
    @include grid-column(12);

    .product-panel {
      @include grid-column(6, false, false, 0, 0, 0, false);
      text-align: center;
    }
  }
}
