.homepage-logged-out {
  .wide-container{
    padding: 0 !important;
  }
  &.hide-logo{
    header{
      z-index: 5;
      background-color: $scheme-color-north;
    }
    .top-bar, .top-bar.expanded .title-area, .top-bar-section ul, .top-links li a{
      background-color: $scheme-color-north;
      transition: background-color 500ms ease;
    }
  }
  &.show-logo{
    .top-bar, .top-bar.expanded .title-area, .top-bar-section ul, .top-links li a{
      transition: background-color 500ms ease;
    }
  }

  #about {
    padding-top: 1.5em;
    .info {
      @include grid-column(12);
    }
  }

  #example {
    padding-top: 1.5em;

    background: #ccc;
    pre {
      border: 2px solid white;
      border-radius: 6px;
    }

    .head-script {
      @include grid-column(12);
    }

    .publish-script {
      @include grid-column(12);
    }

    .play-script {
      @include grid-column(12);
    }
    .aspect-wrapper{
      display: inline-block;
      position: relative;
      width: 100%;
      &:after {
        padding-top: 56.25%; // 16:9 ratio
        display: block;
        content: '';
      }
      .main {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0; // fill parent
        background-color: black;
      }
      .center-wrapper{
        display: table;
        height: 100%;
        width: 100%
      }
      .center-content{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
      p{
        color: white;
      }
    }
  }

  #libraries {
    padding-top: 1.5em;
    position: relative;
    background-color: white;
    ul{
      li{
        img{
          width: 32px;
          height: 32px;
        }
      }
    }

    .icon-list {
      @include block-grid(6);
    }
    .developer-actions {
      @include grid-row();
      div {
        @include grid-column(12);
        a.button {
          width: 100%;
        }
      }
    }
  }

  #marketplaces {
    padding-top: 1.5em;
    background: $scheme-color-north;
    color: $light-green-color;
    ul{
      li{
        img{
          width: 48px;
          height: 48px;
        }
      }
    }
    h2 {
      color: white;
    }
    .icon-list {
      @include block-grid(5);
    }
  }

  #consulting {
    padding-top: 1.5em;
    .info {
      @include grid-column(12);
    }
  }
}


@media #{$medium-up} {
  .homepage-logged-out {

    #example {
      .head-script {
        @include grid-column(12);
      }

      .publish-script {
        @include grid-column(6);
      }

      .play-script {
        @include grid-column(6);
      }
    }

    #libraries {
      .developer-actions {
        div {
          @include grid-column(4, false, false, 2);
          a.button {
            width: 100%;
          }
        }
        div:last-child {
          @include grid-column(4, true, false, 0);
        }
      }
    }
    #marketplaces{
      ul {
        li {
          img {
            width: 96px;
            height: 96px;
          }
        }
      }
    }
    #libraries {
      ul {
        li {
          img {
            width: 64px;
            height: 64px;
          }
        }
      }

      .icon-list {
        @include block-grid(7);
      }
    }
  }
}

