#homepage-logged-out {

  height: 100%;
  overflow: auto;

  &.move-right{
    overflow: hidden;
  }
  .inner-wrap{
    height: 100%;
  }

  .gist table{
    width: 100%;
    margin-bottom: 0;
  }

  h3 {
    font-family: $distinct-font-family;
    font-weight: bold;
  }

  #home-hero {
    background: black;
    background: url(/images/home-hero-mobile.jpg) center center no-repeat;
    background-size: cover;
    min-height: 100%;
    height: 100%;
    padding-top: 0;
    text-align: left;

    * {
      color: white;
    }

    .info {
      @include grid-column(12);
      padding-top: 2em;

      .pitch {
        margin-bottom: 1em;
      }

      .actions {
        margin-top: 1em;
      }
    }

    .scrollhint {
      position: absolute;
      bottom: 1em;
      left: 0;
      right: 0;
      text-transform: uppercase;
      text-align: center;
    }
  }

  #about {
    background: $scheme-color-north;
    color: white;
    padding-bottom: 2em;

    iframe {
      min-height: 178px;
      width: 100%;
    }

    .info {
      @include grid-column(12);
      padding-top: 3em;

      h2, h2 * {
        color: $scheme-color-north-bright;
      }
    }

    .video {
      position: relative;
      width: 100%;
      background: black;

      .aspect-ratio {
        padding-top: 75%;
      }

      p {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: white;
        text-transform: uppercase;
        padding-top: 30%;
      }
    }
  }

  #example {
    .head-script {
      @include grid-column(12);
    }

    .publish-script {
      @include grid-column(12);
    }

    .play-script {
      @include grid-column(12);
    }

  }

  #pricing {
    background: white;
    padding-bottom: 2em;

    .info {
      @include grid-column(12);
      padding-top: 3em;

      .pitch, .postscript {
        margin-top: 1em;
        div {
          margin-bottom: 2em;
        }
      }

      .prices {
        @include grid-row();
        margin-top: 1.5em;
        .plan {
          @include grid-column(12);
        }
      }
    }
  }
}


@media #{$medium-up} {
  #homepage-logged-out {
    #home-hero {
      background-image: url(/images/home-hero-tablet.jpg);
      .info {
        @include grid-column(8, true);
        padding-top: 5em;

        .pitch {
          font-size: $h1-font-size;
        }
      }
    }

    #about {
      .info {
        @include grid-column(8, true, true, 2);
      }
    }

    #example {
      .head-script {
        @include grid-column(12);
      }

      .publish-script {
        @include grid-column(6);
      }

      .play-script {
        @include grid-column(6);
      }
    }
  }
}

@media #{$large-up} {
  #homepage-logged-out {
    #pricing {
      .info {
        @include grid-column(10, true, true, 1);

        .pitch, .postscript {
          margin-top: 1em;
          @include grid-column(8, true, true, 2);
          div {
            margin-bottom: 2em;
          }
        }

        .prices {
          .plan {
            @include grid-column(4);
          }
        }
      }
    }
  }
}

@media #{$xlarge-up} {
  #homepage-logged-out {
    #home-hero {
      background-image: url(/images/home-hero-desktop.jpg);
    }
  }
}
