@mixin rotate($degrees) {
  -ms-transform: rotate($degrees); /* IE 9 */
  -webkit-transform: rotate($degrees); /* Chrome, Safari, Opera */
  transform: rotate($degrees);
}

.peer-hero{
  .players{
    .hero-image{
      position: relative;
      > img, .avatar-background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .double-arrow{
        position: absolute;
      }
      .device{
        z-index: 2;
      }
      .avatar{
        z-index: 1;
      }
      .avatar-background{
        background-color: #ccc;
      }
    }
    .phone {
      width: 70px;
      height: 130px;
      .device{
        width: 70px;
      }
      .avatar{
        width: 70px;
        top: inherit;
        bottom: 16px;
      }
      .avatar-background{
        width: 70px;
        height: 100px;
        top: 10px;
      }
    }
    .tablet {
      width: 100px;
      height: 168px;
      .device{
        width: 100px;
      }
      .avatar{
        width: 100px;
        top: inherit;
        bottom: 11px;
      }
      .avatar-background{
        width: 100px;
        height: 144px;
        top: 10px;
      }

    }

    .laptop {
      width: 250px;
      height: 163px;
      .device{
        width: 250px;
      }
      .avatar{
        width: 125px;
        top: inherit;
        bottom: 22px;
        left: 60px;
      }
      .avatar-background{
        width: 192px;
        height: 134px;
        top: 7px;
        left: 30px;
      }

    }

    &.left{
      .phone, .tablet{
        margin-bottom: 15px;
      }
      .phone > *{
        left: 90px;
      }
      .phone, .laptop {
        margin-left: 15px
      }
      // arrows
      .phone .double-arrow{
        left: 213px;
        top: 77px;
        @include rotate(23deg);
      }
      .tablet .double-arrow{
        left: 159px;
        top: 78px;
      }
      .laptop .double-arrow{
        left: 239px;
        top: 28px;
        @include rotate(-23deg);
      }
    }

    &.right{
      .laptop, .tablet{
        margin-bottom: 15px;
      }
      .tablet > *{
        left: 165px;
      }
      .phone > *{
        left: 90px;
      }
      .phone, .laptop {
        margin-right: 15px
      }

      // arrows
      .laptop .double-arrow{
        left: -100px;
        top: 108px;
        @include rotate(-23deg);
      }
      .tablet .double-arrow{
        left: 0px;
        top: 78px;
      }
      .phone .double-arrow{
        left: -47px;
        top: -13px;
        @include rotate(23deg);
      }

    }

  }
}
