.home-hero{
  position: relative;
  color: white;
  h3{
    color: white;
  }
  .row{
    padding-top: 50px;
    padding-bottom: 35px;
  }
}
.hero-row{
  display: table-row;
  .hero-item{
    display: table-cell;
    vertical-align: middle;
  }
  .table-row{
    display: table-row;
  }
}

@import "home_hero/background";
@import "home_hero/broadcaster";
@import "home_hero/arrow";
@import "home_hero/cloud";
@import "home_hero/players";
