* {
  margin: 0;
}

html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $distinct-font-family;
}

h1 { font-size: 1.4rem; }
h2 { font-size: 1.3rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.15rem; }
h5 { font-size: 1.10rem; }
h6 { font-size: 1.05rem; }

pre code {
  font-size: 0.8em;
}

#content, #content > div, #page-layout {
  height: 100%;
}
#page-layout{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

// sticky footer
@media #{$large-up} {
  $footer-height: 340px;
  $footer-height-neg: $footer-height * -1;

  .main-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto $footer-height-neg; /* the bottom margin is the negative value of the footer's height */
  }
  footer, .push {
    height: $footer-height; /* '.push' must be the same height as 'footer' */
  }

  footer {
    position: relative;
  }
}
//end sticky footer

.reveal-modal-bg{
  display: block;
}
.reveal-modal{
  visibility: visible;
  display: block;
  position: fixed;
  .close-reveal-modal{
    font-size: 1.5rem;
  }
}

#heroku-boomerang{
  position: relative !important;
}

//flash
$flash-holder-z-index: 1;
.flash-holder{
  position: fixed;
  z-index: $flash-holder-z-index;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  .alert-box{
    text-align: left;
    position: relative;
    z-index: 1;
    display: inline-block;
    // fixed from: 0.875rem 1.5rem 0.875rem 0.875rem
    padding:  0.875rem;
    .alert-body{
      margin-right: 10px;
    }
    .close-alert{
      float: right;
    }
  }
}

.alert-box{
  i.fa{
    vertical-align: middle;
    padding-right: 5px;
  }
}
.warning.alert-box{
  border: 1px solid #ccc;
}
// end flash

button, .button {
  text-transform: uppercase;
  color: white;
  // http://stackoverflow.com/questions/11258877/fixed-element-disappears-in-chrome
  -webkit-transform: translateZ(0);
  // background: none;
  // border: 2px solid $primary-color;
}

.account-drop-down{
  position: relative;
  z-index: $flash-holder-z-index+1;
}
ul.dropdown li a.current{
  cursor: default;
  &:hover{
    background: #333 !important;
  }
}

.move-right{
  .left-off-canvas-menu{
    position: fixed;
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    transition: 500ms ease;
  }
}

.left-off-canvas-menu{
  color: white;
  .close-link{
    margin: 10px;
    color: white;
  }
  .legal-waver{
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

.button-social {
  overflow: hidden;
  color: white;
  padding: 0.5em 0 0.5em 0;

  > * {
    padding: 0.3em 0;
  }

  > i.fa {
    display: block;
    float: left;
    width: 2em;
    font-size: 1.5em;
  }

  > .button-social-text {
    min-width: 13em;
    display: block;
    margin-left: 1em;
    text-align: left;
    padding-top: 0.6em;
    white-space: nowrap;
  }

  &:hover {
    color: white;
  }
}

.button-github {
  background-color: $github-button-bgcolor;
  color: black;


  &:hover {
    // taken from how twitter does it's hover states in mixins.less
    background-color: scale-color($github-button-bgcolor, $lightness: -8%);
    color: black;
  }
}

#page-layout {

  .container {
    @include grid-column(12, true, true);
  }

  .wide-container {
    @include grid-column(12);
    padding: 0 !important;
    float: none;
  }

  header{
    margin-bottom: 1em;
    .brand {
      transition: opacity 500ms ease;
      opacity: 0;
      z-index: -1;
      a{
        cursor: default;
      }
    }
  }
  &.fixed-nav{
    header{
      margin-bottom: 0;
    }
  }

  &.show-logo{
    header  {
    .brand {
        transition: opacity 500ms ease;
        opacity: 1;
      }
      a{
        cursor: pointer;
      }
    }
  }
}

@media #{$medium-up} {
  #page-layout {

    .container {
      @include grid-column(8, true, true, 2);
    }

    .wide-container {
      @include grid-column(12);
      padding: 0 !important;
      float: none;

    }

    &.fixed-nav {
      header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
      }
      .main-wrapper{
        margin-top: 45px;
      }
    }
  }
  header {
    .top-bar-section {
      ul li {
        background: transparent;
      }
    }
  }
}

header {
  .plan-name{
    line-height: $topbar-height;
    color: $topbar-dropdown-link-color;
  }

  .top-bar-section {
    .outlined {
      margin: 5px;
      border: 1px solid white;
      border-radius: 3px;
      overflow: hidden;
      a:not(.button), a:not(.button):hover {
        background: transparent;
        display: inline-block;
        margin: -6px 5px;
      }
      a:not(.button):hover {
        color: $scheme-color-north-bright;
      }
    }
    .outlined:hover {
      border-color: $scheme-color-north-bright;
    }
  }
}

footer {
  @include grid-column(12);
  background: #4e4e4e;
  padding-top: 2em;

  .links {
    @include grid-row();
    background: #4e4e4e;
    // margin: 0;

    .links-box {
      @include grid-column(12);

      div {
        h4 {
          color: white;
          font-size: 0.8em;
          text-transform: uppercase;
        }

        ul {
          margin-left: 0;
          li {
            list-style-type: none;
            a {
              color: #ccc;
              font-size: 0.9em;

              i {
                text-align: center;
                width: 11px;
                margin-right: 5px;
              }
            }
          }
        }
      }

    }
  }

  .copyright {
    @include grid-column(12);
    padding: 1em 0;
    background: #4e4e4e;
    color: #ccc;
    text-align: center;
    font-size: 0.75rem;
  }
}

@media #{$small-up} {
  footer .links-box div {
    @include grid-column(12);
  }
}

@media #{$large-up} {
  footer .links-box div {
    @include grid-column(3);
  }
}

.brand {
  display: block;
  background: url(https://cdn.cine.io/images/cine-logomark.png) no-repeat;
  background-size: contain;
  background-position: left center;
  text-indent: -9999em;
  margin-bottom: 1em;
}

nav h1.brand {
  width: 120px;
}

.panel > dl > dd{
  word-break: break-word;
}
