.home-hero{
  // .arrows{
  //   padding-left: 27px;
  // }
  .arrow {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
  display: inline-block;
  border-left: 18px solid;
}

  .arrow:nth-child(3n+1) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
  }
  .arrow:nth-child(3n+2) {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
  }
  .arrow:nth-child(3n+3) {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
  }

  .arrow:nth-child(3n+4) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
  }

}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 1.0; border-left-color: #128c87;}
  /*50% {opacity: 1.0; border-color: red;}*/
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0; border-left-color: white;}
}
